{
  "openapi": "3.0.0",
  "info": {
    "title": "Excell Customer App - API Specification",
    "version": "1.0.0",
    "description": "This is API Specification of *Excell Media Pvt. Ltd. Customer App specification* .",
    "x-logo": {
      "url": "https://apis.guru/openapi-template/logo.png"
    },
    "contact": {
      "email": "lakshman@laurel.solutions"
    }
  },
  "servers": [
    {
      "url": "http://app.excellbroadband.com/api/index.php",
      "description": "Production"
    }
  ],
  "paths": {
    "/new": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [
          "Major"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "operationId": "get-new",
        "description": "Get new material for tis"
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "in": "header",
        "name": "api_key"
      },
      "basic_auth": {
        "type": "http",
        "scheme": "basic"
      },
      "main_auth": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "http://example.com/api/oauth/dialog",
            "scopes": {
              "read:users": "read users info",
              "write:users": "modify or remove users"
            }
          }
        }
      }
    },
    "headers": {
      "ExpiresAfter": {
        "description": "date in UTC when token expires",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      }
    }
  },
  "tags": [
    {
      "name": "Echo",
      "description": "Example echo operations"
    },
    {
      "name": "User",
      "description": "Operations about user"
    }
  ],
  "externalDocs": {
    "description": "Find out how to create Github repo for your OpenAPI spec.",
    "url": "https://github.com/Rebilly/generator-openapi-repo"
  }
}
